.triangle {
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-top: 100px solid red;
}

.equilateral-triangle {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 160px solid red;
}

.triangle-left-top {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
}
